@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}
